body{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
#login{
    text-align: center;
    border: solid 2px red;
    width: 400px;
}
#form{
    text-align: center;
}
input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 85%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }